.benefits {
	min-height: 475px;
	padding: 70px 0 65px 0;
	background: #F6F6F6;
	&__subheader {
		text-align: center;
		color: #0D0D0D;
		font-weight: 700;
		font-size: 18px;
		margin-bottom: 20px;
	}
	&__icons {
		margin-top: 64px;
		display: flex;
		justify-content: space-around;
	}
	&__icon {
		width: 235px;
		text-align: center;
		color: #0D0D0D;
		font-weight: 500;
		font-size: 14px;
		img {
			display: block;
			margin: 0 auto;
			margin-bottom: 32px;
		}
		a {
			color: $main-color;
			text-transform: uppercase;
			text-decoration: underline;
		}
	}
}
