.footer {
    height: 630px;
    position: relative;
    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 53px 56px 54px;
    }
    &__addr {
        margin-bottom: 36px;
        color: #FFFFFF;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
    }
    &__phone {
        display: block;
        margin-bottom: 36px;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        &:hover {
            color: #FFFFFF;
        }
    }
    &__social {
        display: flex;
        width: 212px;
        justify-content: space-around;
        margin: 0 auto;
    }
    iframe {
        width: 100%;
        height: 100%; 
    }
}